* {
    border: 1px solid gold;
 }

p {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: #4242EA;
}

ul {
    list-style: none;
}

footer span{
    font-weight: 700;
}

.weather p{
    font-size: 40px;
}

.weather {
    min-width: 25%;
    max-width: 300px;
    border: 2px solid gray;
    text-align: center;
}

.weather article{
    display: inline-block;
}

.breaking-news {
    padding: 0px 30px;
    text-align: center;
}

.breaking-news img{
    width: 200px;
}

.above-the-fold article{
    display: inline-block;
}

.above-the-fold {
    display: flex;
    align-items: center;
}

.click-bait article{
    display: inline-block;
    width: 250px;
    margin: 16px;
    padding: 16px;
    box-sizing: border-box;
}

.click-bait {
    display: flex;
    justify-content: space-between;

    article{
        text-align: center;
    }
}

.below-the-fold article{
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    justify-content: center;
}

.below-the-fold img{
    display: inline-block;
    margin: 16px;
    padding: 16px;
    width: 200px;
}

.below-the-fold div{
    width: 500px;
}

.below-the-fold_item {
  
}
.page__footer-links {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.page__footer-section-item{
    margin: 10px;
}