* {
  border: 1px solid gold;
  max-width: 90vw;
}

p {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: #4242EA;
}

ul {
  list-style: none;
}

.page__footer span {
  font-weight: 700;
}


.weather p {
  font-size: 40px;
}

.above-the-fold {
  display: inline-flex;
}


.weather {
  display: inline-block;
  width: 300px;
  border: 2px solid gray;
  text-align: center;
}

.breaking-news {
  padding: 0px 30px;
}

.breaking-news__content {
  text-align: justify;
  text-justify: inter-word;
  justify-content: left;
  width: 650px;
}

.breaking-news__image {
  display: block;
  margin: auto;
  width: 200px;
}

.click-bait {
  display: flex;
  justify-content: space-evenly;
}

.click-bait__item {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  width: 250px;
  margin: 16px;
  padding: 16px;
}

.below-the-fold__item {
  display: flex;
  justify-content:space-evenly;
  align-items: flex-end;
}

.below-the-fold__img {
  display: inline-block;
  width: 20px;
  margin: 16px;
  padding: 16px;
}

.below-the-fold__content {
  width: 700px;
}

.page__footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}